@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=Merriweather+Sans:wght@300&family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    font-family: 'Tinos', serif;
}

::selection {
    background-color: #f5e8cf;
}

a {
    color: #fff;
}

/* Header */
.header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    height: 104px;
    line-height: 104px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 50px;
    z-index: 1;
}

.menu {
    display: flex;
    padding: 0;
}

.menu li,
.menu li button {
    list-style-type: none;
    color: #fff;
}

.menu li a,
.menu li button {
    font-family: Playfair Display;
}

.menu li:hover a,
.menu li:hover button {
    color: #daa545;
}

.sticky .menu li:hover a {
    color: #daa545;
}

.menu li a:focus {
    color: #daa545;
}

/* Menu white */
.sticky {
    background: #fff;
    color: #000;
    transition: all 0.5s ease-in-out;
}

.sticky .menu li a,
.sticky .menu button {
    color: #000;
}

/* Mute volume */
.volume {
    position: absolute;
    top: 150px;
    right: 50px;
    cursor: pointer;

}

.volume span {
    border: solid 1px #fff;
    border-radius: 50%;
    padding: 5px;
}

.volume span ion-icon {
    color: #fff;
}

/* Search rooms */
.search-menu {
    height: 108px;
    line-height: 108px;
    background-color: #fff;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 100%;
    top: 98.5%;
}

.search-rooms {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    overflow: hidden;
    padding: 0;
}

.search-rooms li {
    list-style: none;
    width: 150px;
    cursor: pointer;
    text-align: center;
}

.search-rooms .search-tabs a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.search-tabs span {
    color: #000;
}

.search-rooms .search-slide {
    position: absolute;
    width: 150px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #c19b76;
    transition: 0.5s;
    z-index: -1;
}

.search-rooms .search-tabs:nth-child(1).active~.search-slide {
    left: 0;
    opacity: 1;
    border-top-left-radius: 94px;
}

.search-rooms .search-tabs:nth-child(2).active~.search-slide {
    left: 150px;
    opacity: 1;
}

.search-rooms .search-tabs:nth-child(3).active~.search-slide {
    left: 300px;
    opacity: 1;
}

.search-rooms .search-tabs:nth-child(4).active~.search-slide {
    left: 450px;
    opacity: 1;
}

.search-rooms .search-tabs:nth-child(5).active~.search-slide {
    left: 600px;
    opacity: 1;
}

.search-rooms .search-tabs:nth-child(6).active~.search-slide {
    left: 750px;
    opacity: 1;
    border-top-right-radius: 94px;
}

/* Booking */
.booking {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #c19b76, #fdfaf0);
    padding: 70px;
    margin-top: -7px;
    align-items: flex-end;
}

.booking h3 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
}


.search-item {
    margin: 0 15px;
}

.search-item span {
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.search-item input {
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
}

.search-item select {
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
}

.search-item button {
    margin-top: 23px;
    padding: 10px 40px;
    border: none;
    border-radius: 53px;
    background: #c19b76;
    color: #fff;
    font-weight: 700;
}

.search-item button:hover {
    opacity: .9;
}

.buttons_added .input-qty {
    padding: 22px 0;
}

.buttons_added {
    width: 100%;
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}

.input-qty {
    height: 2.2rem;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

.is-form {
    background-color: #f9f9f9;
    width: 1.9rem;
    border: 1px solid #ddd;
}

/* Content */
.content {
    padding-top: 100px;
    background-color: #fdfaf0;
}

.introduce {
    width: 1055px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 45% 55%;
    margin-top: 40px;
}

.introduce-left {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: 10px 68px;
    margin-top: 105px;
}

.introduce-title {
    font-size: 34px;
    font-family: Playfair Display;
}

.introduce-title span {
    font-family: Playfair Display;
    color: #c19b76;
}

.introduce-border {
    padding: 10px 0 75px 0;
}

.introduce-border span:before {
    content: "";
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 2px;
    background-color: #c19b76;
    transform: translate(561px, 0);
}

.introduce-des p {
    font-family: Playfair Display;
    font-size: 17px;
}

.introduce-des .introduce-text {
    font-family: Dancing Script;
    font-size: 2rem;
    padding: 0 60px;
}

/* Content right */
.introduce-right {
    display: flex;
    margin-top: 50px;
}

.introduce-img-sub {
    height: 80%;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px #ccc;
    transform: translate(75px, 75px);
}

.list-img-sub {
    padding: 15px;
}


.img input {
    opacity: 0;
}

.img img {
    display: none;
}

input:checked~img {
    display: block;
}

#fame {
    background-image: url(../img/content-img/img1.jpg);
    height: 200px;
}

/* Rooms */
.content-room {
    width: 1120px;
    margin: 0 auto;
}

.cover {
    position: relative;
}

.content-title p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100px;
    font-style: italic;
    color: rgba(193, 174, 155, 0.2);
    text-align: center;
    padding: 40px 0;
}

.content-sub-title {
    position: absolute;
    top: 105px;
    left: 0;
    right: 0;
    text-align: center;
}

.content-sub-title h3 {
    font-size: 50px;
    font-weight: 300;
}

.content-sub-title p {
    color: #c19b76;
    letter-spacing: 1px;
}

.content-border-bottom span::before {
    content: "";
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 1.5px;
    background-color: #c19b76;
    transform: translate(528px, 0);
    margin-top: -45px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 70px;
    gap: 0.375rem;
}

.grid-column-4 {
    background-color: rgba(193, 174, 155, 0.2);
    padding: 8px;
    display: flex;
    border-radius: 6px;
    flex-direction: column;
}

.grid-column-4 img {
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

img {
    vertical-align: middle;
}

.box-hover {
    overflow: hidden;
    position: relative;
    width: 350px;
}

.box-hover img {
    height: 240px;
    width: 100%;
    transition: all 1s;
}

.box-hover .img-change {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
}

.box-hover:hover .img-change {
    opacity: 0;
}

.product-title {
    font-size: 18px;
    padding-top: 10px;
    cursor: pointer;
    text-align: center;
}

.product-title:hover {
    color: #daa545;
}

.star {
    display: flex;
    line-height: 18px;

    line-height: 20px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}


.list-star i {
    color: #f2c94c;
}

.option-room {
    display: flex;
    justify-content: flex-end;
}

.option-room h3 {
    font-weight: 600;
    font-size: 20px;
    color: #003c71;
}

.option-room p {
    padding-right: 20px;
    font-size: 20px;
    color: rgb(225, 45, 45);
    font-weight: 600;
}

.option-room p span {
    font-size: 15px;
    color: #000;
}

.location {
    background-color: #fee6a0;
    padding: 0 8px 0 8px;
    font-size: 13px;
    border-radius: 8px;
}

.description {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Footer */
.footer {
    background-color: #2b2e30;
    color: #fff;
}

.main-footer {
    width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px;
}

.footer-money h2 {
    padding: 20px 0;
    color: #fff;
}

table {
    /* border-collapse: collapse; */
    width: 100%;
    color: #fff;
}

tr,
th,
td {
    border: solid 1px #fff;
    padding: 5px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #292b2d;
}

tr:nth-child(odd) {
    background-color: #333;
}

.footer-money p {
    margin: 0;
    padding: 5px 0;
    font-family: sans-serif;
    font-size: 14px;
}

.des-weather {
    display: flex;
    justify-content: space-between;
}

.sub-weather ion-icon {
    font-size: 35px;
    padding-right: 10px;
}

.weather-table {
    margin-top: 20px;
}

.footer-money form input {
    padding: 10px;
    background-color: #363636;
    color: #dfdfdf;
    border: none;
    outline: none;
}

.footer-money form button {
    background-color: #c19b76;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-left: -4px;
}

.footer-money form button:hover {
    background-color: #000;
    transition: all 0.5s;
}

h5 {
    font-weight: 300;
    font-size: 15px;
}

.social ion-icon {
    font-size: 20px;
}

.ins {
    padding: 0 20px;
}


/* Detail Search */
.detail-search {
    width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% auto;
    gap: 30px;
    padding: 20px 0;
}

.search-right {
    margin-top: 30px;
}

.sub-rooms {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sub-rooms h3 {
    color: #daa545;
}

.des p {
    margin: 0;
    padding: 5px 0;
    font-size: 15px;
}

.des .form-control {
    background-color: #c19b76;
    padding: 12px 15px;
}

.des .form-control input {
    background-color: #c19b76;
}

input::placeholder {
    color: #000;
}

.des .form-control input {
    border: none;
    outline: none;
}

.amount {
    display: flex;
}

.amount .des:nth-child(odd) {
    margin-right: 8px;
}

.search-item .des-btn {
    width: 100%;
    border-radius: 0;
}


.search-left {
    margin-top: 30px;
}

.search-left h3 {
    font-weight: 600;
    font-size: 20px;
}

.list-room {
    display: grid;
    grid-template-columns: 30% 50% 19%;
    grid-gap: 5px;
    border: solid 1px #c19b76;
    padding: 8px;
    margin-top: 15px;
}


.room-img img {
    width: 100%;
}

.room-star {
    padding: 0;
    display: flex;
}

.room-star h3 {
    margin-right: 8px;
}

.fa-thumbs-up {
    margin-left: 8px;
}

.room-location {
    display: flex;
    margin-top: -10px;
}

.room-location p {
    margin: 8px 10px 0 0;
    padding: 3px;
    background-color: #ccc;
    border-radius: 5px 0 5px 0;
}

.room-location p a {
    text-decoration: none;
    color: #000;
}

.room-inf span {
    font-size: 15px;
}

.room-inf span i {
    margin-right: 5px;
}

.bed h5 {
    font-weight: 600;
    font-size: 18px;
}

.bed span {
    color: #cc0000;
    font-weight: bold;
}

.evaluate {
    display: flex;
    justify-content: space-between;
}

.evaluate p {
    margin: 0;
}

.sub-evaluate p {
    font-weight: bold;
}

.sub-evaluate span {
    font-size: 14px;
}

.point {
    background: #c19b76;
    padding: 10px;
    border-radius: 5px 5px 5px 0px;
}

.booking-room {
    margin-top: 15px;
}

.booking-tax {
    font-size: 10px;
}

.price {
    color: #e12d2d;
    font-weight: bold;
    font-size: 18px;
}

.price span {
    color: #000;
}

.booking-room a {
    background-color: #c19b76;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: none;
}

.booking-room a:hover {
    color: rgb(0, 0, 0);
    opacity: .9;
}


/* Chi tiết phòng */
.detail {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
}
.w-full {
    width: 100%;
}
.title-detail {
    width: 100%;
    top: 99.0%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border-bottom: 3px solid #c19b76;
}

.sub-title span {
    color: #c19b76;
    border-bottom: solid 1px #c19b76;
    padding: 5px 0;
}

.sub-title h1 {
    color: #2f2b2c;
    padding-top: 20px;
}

.price-detail p {
    color: #ce853e;
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
}

.price-detail p span {
    color: #000;
    font-size: 15px;
    text-decoration: underline;
    font-weight: 100;
}

.main-detail {
    display: grid;
    grid-template-columns: 70% auto;
    margin-top: 100px;
}

.inf-room {
    display: flex;
    justify-content: space-between;
}

.inf-right {
    margin-right: 125px;
}

.inf-left p,
.inf-right p {
    color: #2f2b2c;
    font-size: 30px;
    /* border-bottom: 0.5px solid rgba(247,239,214,1); */
}

.sub-inf {
    display: grid;
    grid-template-columns: 10% 36% 68%;
    /* border-bottom: 0.5px solid rgba(247,239,214,1); */
}

.sub-inf p {
    font-size: 18px;
}

.sub-inf i {
    padding-right: 10px;
}

.nav-inf h5 {
    font-weight: bold;
    font-size: 20px;
}

.nav-inf span {
    color: #c19b76;
}

.nav-inf i {
    /* color: #ccc; */
    opacity: 0.5;
}

.convenien {
    display: flex;
}

.sub-convenien {
    padding-right: 18px;
}

.content-detail {
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
}

.content-detail h1 {
    font-size: 30px;
    border-bottom: 0.5px solid rgba(247, 239, 214, 1);
}

.content-detail p a {
    color: #c19b76;
    text-decoration: none;
}

.detail-booking {
    width: 90%;
    background-color: #fff;
    padding: 20px;
    border: 0.5px solid rgba(247, 239, 214, 1);
}

.detail-booking h1 {
    font-size: 30px;
}

.border-input {
    margin: 0;
}

.border-input input {
    border: solid 1px #c19b76;
}

.border-input span {
    color: #000;
}

.check-in {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.check-in .booking-room {
    margin-top: 40px;
}